<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id = "mathCheatObjectValue" class = "com.practice.spring.lc.MathCheat"/>
    <bean id = "scienceCheatObjectValue" class = "com.practice.spring.lc.ScienceCheat"/>
    <bean id = "student" class = "com.practice.spring.lc.Student">
        <property name="cheat" ref="scienceCheatObjectValue"/>
    </bean>

</beans>